@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Syncopate&display=swap');
$bebas: 'Bebas Neue', cursive;


@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
$cobin:  'Cabin', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
$Questrial: 'Questrial', sans-serif;
